In [1]:
import pandas as pd
import sqlite3
import math
import datetime 
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from IPython.core.display import display, HTML
display(HTML("<style>div.output_scroll { height: 44em; }</style>"))

In [2]:
conn = sqlite3.connect('database.db')

In [3]:
c = conn.cursor()

<img src="desain.png">

In [47]:
c.executescript('drop table if exists Transaksi')
c.executescript('drop table if exists Customer')
c.executescript('drop table if exists Product')
c.executescript('drop table if exists Category')
c.execute("CREATE TABLE IF NOT EXISTS 'Customer' ('id_customer' INT, 'cust_name' VARCHAR(255) NULL, 'city' VARCHAR(255) NULL, PRIMARY KEY ('id_customer'))")
c.execute("CREATE TABLE IF NOT EXISTS 'Category' ('id_category' INT, 'category' VARCHAR(255) NULL, PRIMARY KEY ('id_category'))")
c.execute("CREATE TABLE IF NOT EXISTS 'Product' ('id_product' INT, 'product_name' VARCHAR(255) NULL, 'id_category' INT NOT NULL, PRIMARY KEY ('id_product'), FOREIGN KEY ('id_category') REFERENCES 'Category' ('id_category'))")
c.execute("CREATE TABLE IF NOT EXISTS 'Transaksi' ('id_transaksi' INT, 'order_date' DATE NULL, 'ship_date' DATE NULL, 'quantity' VARCHAR(255) NULL, 'id_customer' INT NOT NULL, 'id_product' INT NOT NULL, PRIMARY KEY ('id_transaksi'), FOREIGN KEY ('id_customer') REFERENCES 'Customer' ('id_customer'), FOREIGN KEY ('id_product') REFERENCES 'Product' ('id_product'))")

In [48]:
df = pd.read_csv("Superstore (Tableau) - Orders.csv")
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country/Region,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2018-152156,11/8/2018,11/11/2018,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2018-152156,11/8/2018,11/11/2018,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2018-138688,6/12/2018,6/16/2018,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2017-108966,10/11/2017,10/18/2017,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2017-108966,10/11/2017,10/18/2017,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2016-110422,1/21/2016,1/23/2016,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180.0,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2019-121258,2/26/2019,3/3/2019,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2019-121258,2/26/2019,3/3/2019,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2019-121258,2/26/2019,3/3/2019,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627.0,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2019-119914,5/4/2019,5/9/2019,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [49]:
Category = []
Product = []
Customer = []
Transaksi = []

for i,j in df[:100].iterrows():
    if j[-7] not in Category:
        Category.append(j[-7])
        
    ca = -1
    for index, value in enumerate(Category):
        if value == j[14]:
            ca = index+1
            break
            
            
    if [j[12],j[15], ca] not in Product:
        Product.append([j[12], j[15], ca])
        
    p = -1
    for index, value in enumerate(Product):
        if value[1] == j[15]:
            p = index+1
            break
            
    if [j[5],j[6], j[9]] not in Customer:
        Customer.append([j[5], j[6], j[9]])
        
    k = -1
    for index, value in enumerate(Customer):
        if value[0] == j[5]:
            k = index+1
            break
            
    if [j[0],j[2], j[3], j[17], k, p] not in Transaksi:
        Transaksi.append([j[5], j[6], j[9], k, p])
        
print(Category)
print(Product)
print(Customer)
print(Transaksi)

['Furniture', 'Office Supplies', 'Technology']
[['South', 'Bookcases', 1], ['South', 'Chairs', 1], ['West', 'Labels', 2], ['South', 'Tables', 1], ['South', 'Storage', 2], ['West', 'Furnishings', 1], ['West', 'Art', 2], ['West', 'Phones', 3], ['West', 'Binders', 2], ['West', 'Appliances', 2], ['West', 'Tables', 1], ['South', 'Paper', 2], ['Central', 'Appliances', 2], ['Central', 'Binders', 2], ['Central', 'Storage', 2], ['West', 'Storage', 2], ['Central', 'Art', 2], ['East', 'Chairs', 1], ['West', 'Accessories', 3], ['East', 'Bookcases', 1], ['East', 'Binders', 2], ['East', 'Furnishings', 1], ['East', 'Envelopes', 2], ['East', 'Art', 2], ['Central', 'Paper', 2], ['Central', 'Phones', 3], ['Central', 'Furnishings', 1], ['Central', 'Envelopes', 2], ['Central', 'Bookcases', 1], ['Central', 'Chairs', 1], ['Central', 'Accessories', 3], ['East', 'Accessories', 3], ['East', 'Phones', 3], ['Central', 'Labels', 2], ['East', 'Fasteners', 2], ['East', 'Storage', 2], ['East', 'Paper', 2], ['West', 'Paper', 2], ['South', 'Furnishings', 1], ['South', 'Appliances', 2], ['South', 'Binders', 2], ['South', 'Envelopes', 2]]
[['CG-12520', 'Claire Gute', 'Henderson'], ['DV-13045', 'Darrin Van Huff', 'Los Angeles'], ['SO-20335', "Sean O'Donnell", 'Fort Lauderdale'], ['BH-11710', 'Brosina Hoffman', 'Los Angeles'], ['AA-10480', 'Andrew Allen', 'Concord'], ['IM-15070', 'Irene Maddox', 'Seattle'], ['HP-14815', 'Harold Pawlan', 'Fort Worth'], ['PK-19075', 'Pete Kriz', 'Madison'], ['AG-10270', 'Alejandro Grove', 'West Jordan'], ['ZD-21925', 'Zuschuss Donatelli', 'San Francisco'], ['KB-16585', 'Ken Black', 'Fremont'], ['SF-20065', 'Sandra Flanagan', 'Philadelphia'], ['EB-13870', 'Emily Burns', 'Orem'], ['EH-13945', 'Eric Hoffmann', 'Los Angeles'], ['TB-21520', 'Tracy Blumstein', 'Philadelphia'], ['MA-17560', 'Matt Abelman', 'Houston'], ['GH-14485', 'Gene Hale', 'Richardson'], ['SN-20710', 'Steve Nguyen', 'Houston'], ['LC-16930', 'Linda Cazamias', 'Naperville'], ['RA-19885', 'Ruben Ausman', 'Los Angeles'], ['ES-14080', 'Erin Smith', 'Melbourne'], ['ON-18715', 'Odella Nelson', 'Eagan'], ['PO-18865', "Patrick O'Donnell", 'Westland'], ['LH-16900', 'Lena Hernandez', 'Dover'], ['DP-13000', 'Darren Powers', 'New Albany'], ['JM-15265', 'Janet Molinari', 'New York City'], ['TB-21055', 'Ted Butterfield', 'Troy'], ['KM-16720', 'Kunst Miller', 'Los Angeles'], ['PS-18970', 'Paul Stevenson', 'Chicago'], ['BS-11590', 'Brendan Sweed', 'Gilbert'], ['KD-16270', 'Karen Daniels', 'Springfield'], ['HM-14980', 'Henry MacAllister', 'New York City'], ['TB-21520', 'Tracy Blumstein', 'Jackson'], ['JE-15745', 'Joel Eaton', 'Memphis'], ['KB-16600', 'Ken Brennan', 'Houston'], ['JE-15745', 'Joel Eaton', 'Houston'], ['SC-20770', 'Stewart Carmichael', 'Decatur'], ['DN-13690', 'Duane Noonan', 'San Francisco'], ['JC-16105', 'Julie Creighton', 'Durham'], ['CS-12400', 'Christopher Schild', 'Chicago'], ['PO-18865', "Patrick O'Donnell", 'Columbia'], ['PG-18895', 'Paul Gonzalez', 'Rochester'], ['GM-14455', 'Gary Mitchum', 'Houston'], ['JS-15685', 'Jim Sink', 'Los Angeles'], ['KB-16315', 'Karl Braun', 'Minneapolis'], ['RB-19705', 'Roger Barcio', 'Portland'], ['PN-18775', 'Parhena Norris', 'New York City'], ['KD-16345', 'Katherine Ducich', 'San Francisco'], ['ER-13855', 'Elpida Rittenbach', 'Saint Paul'], ['RB-19465', 'Rick Bensley', 'Chicago']]
[['CG-12520', 'Claire Gute', 'Henderson', 1, 1], ['CG-12520', 'Claire Gute', 'Henderson', 1, 2], ['DV-13045', 'Darrin Van Huff', 'Los Angeles', 2, 3], ['SO-20335', "Sean O'Donnell", 'Fort Lauderdale', 3, 4], ['SO-20335', "Sean O'Donnell", 'Fort Lauderdale', 3, 5], ['BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 6], ['BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 7], ['BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 8], ['BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 9], ['BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 10], ['BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 4], ['BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 8], ['AA-10480', 'Andrew Allen', 'Concord', 5, 12], ['IM-15070', 'Irene Maddox', 'Seattle', 6, 9], ['HP-14815', 'Harold Pawlan', 'Fort Worth', 7, 10], ['HP-14815', 'Harold Pawlan', 'Fort Worth', 7, 9], ['PK-19075', 'Pete Kriz', 'Madison', 8, 5], ['AG-10270', 'Alejandro Grove', 'West Jordan', 9, 5], ['ZD-21925', 'Zuschuss Donatelli', 'San Francisco', 10, 7], ['ZD-21925', 'Zuschuss Donatelli', 'San Francisco', 10, 8], ['ZD-21925', 'Zuschuss Donatelli', 'San Francisco', 10, 9], ['KB-16585', 'Ken Black', 'Fremont', 11, 7], ['KB-16585', 'Ken Black', 'Fremont', 11, 10], ['SF-20065', 'Sandra Flanagan', 'Philadelphia', 12, 2], ['EB-13870', 'Emily Burns', 'Orem', 13, 4], ['EH-13945', 'Eric Hoffmann', 'Los Angeles', 14, 9], ['EH-13945', 'Eric Hoffmann', 'Los Angeles', 14, 19], ['TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 1], ['TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 9], ['TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 6], ['TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 23], ['TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 7], ['TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 9], ['TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 7], ['MA-17560', 'Matt Abelman', 'Houston', 16, 12], ['GH-14485', 'Gene Hale', 'Richardson', 17, 8], ['GH-14485', 'Gene Hale', 'Richardson', 17, 6], ['SN-20710', 'Steve Nguyen', 'Houston', 18, 23], ['SN-20710', 'Steve Nguyen', 'Houston', 18, 1], ['SN-20710', 'Steve Nguyen', 'Houston', 18, 2], ['SN-20710', 'Steve Nguyen', 'Houston', 18, 8], ['LC-16930', 'Linda Cazamias', 'Naperville', 19, 8], ['RA-19885', 'Ruben Ausman', 'Los Angeles', 20, 5], ['ES-14080', 'Erin Smith', 'Melbourne', 21, 5], ['ON-18715', 'Odella Nelson', 'Eagan', 22, 19], ['ON-18715', 'Odella Nelson', 'Eagan', 22, 9], ['PO-18865', "Patrick O'Donnell", 'Westland', 23, 5], ['LH-16900', 'Lena Hernandez', 'Dover', 24, 19], ['LH-16900', 'Lena Hernandez', 'Dover', 24, 8], ['DP-13000', 'Darren Powers', 'New Albany', 25, 9], ['DP-13000', 'Darren Powers', 'New Albany', 25, 3], ['DP-13000', 'Darren Powers', 'New Albany', 25, 6], ['DP-13000', 'Darren Powers', 'New Albany', 25, 2], ['JM-15265', 'Janet Molinari', 'New York City', 26, 35], ['JM-15265', 'Janet Molinari', 'New York City', 26, 8], ['TB-21055', 'Ted Butterfield', 'Troy', 27, 5], ['TB-21055', 'Ted Butterfield', 'Troy', 27, 12], ['TB-21055', 'Ted Butterfield', 'Troy', 27, 2], ['TB-21055', 'Ted Butterfield', 'Troy', 27, 12], ['TB-21055', 'Ted Butterfield', 'Troy', 27, 19], ['TB-21055', 'Ted Butterfield', 'Troy', 27, 9], ['TB-21055', 'Ted Butterfield', 'Troy', 27, 7], ['KM-16720', 'Kunst Miller', 'Los Angeles', 28, 19], ['KM-16720', 'Kunst Miller', 'Los Angeles', 28, 9], ['KM-16720', 'Kunst Miller', 'Los Angeles', 28, 12], ['KM-16720', 'Kunst Miller', 'Los Angeles', 28, 6], ['PS-18970', 'Paul Stevenson', 'Chicago', 29, 2], ['BS-11590', 'Brendan Sweed', 'Gilbert', 30, 7], ['BS-11590', 'Brendan Sweed', 'Gilbert', 30, 8], ['KD-16270', 'Karen Daniels', 'Springfield', 31, 12], ['HM-14980', 'Henry MacAllister', 'New York City', 32, 9], ['TB-21520', 'Tracy Blumstein', 'Jackson', 15, 12], ['JE-15745', 'Joel Eaton', 'Memphis', 34, 2], ['JE-15745', 'Joel Eaton', 'Memphis', 34, 6], ['JE-15745', 'Joel Eaton', 'Memphis', 34, 5], ['KB-16600', 'Ken Brennan', 'Houston', 35, 9], ['KB-16600', 'Ken Brennan', 'Houston', 35, 6], ['KB-16600', 'Ken Brennan', 'Houston', 35, 5], ['JE-15745', 'Joel Eaton', 'Houston', 34, 6], ['SC-20770', 'Stewart Carmichael', 'Decatur', 37, 10], ['SC-20770', 'Stewart Carmichael', 'Decatur', 37, 9], ['DN-13690', 'Duane Noonan', 'San Francisco', 38, 7], ['DN-13690', 'Duane Noonan', 'San Francisco', 38, 5], ['JC-16105', 'Julie Creighton', 'Durham', 39, 23], ['CS-12400', 'Christopher Schild', 'Chicago', 40, 5], ['PO-18865', "Patrick O'Donnell", 'Columbia', 23, 2], ['PG-18895', 'Paul Gonzalez', 'Rochester', 42, 19], ['PG-18895', 'Paul Gonzalez', 'Rochester', 42, 3], ['GM-14455', 'Gary Mitchum', 'Houston', 43, 5], ['JS-15685', 'Jim Sink', 'Los Angeles', 44, 7], ['JS-15685', 'Jim Sink', 'Los Angeles', 44, 8], ['JS-15685', 'Jim Sink', 'Los Angeles', 44, 12], ['KB-16315', 'Karl Braun', 'Minneapolis', 45, 12], ['KB-16315', 'Karl Braun', 'Minneapolis', 45, 6], ['KB-16315', 'Karl Braun', 'Minneapolis', 45, 9], ['RB-19705', 'Roger Barcio', 'Portland', 46, 9], ['PN-18775', 'Parhena Norris', 'New York City', 47, 6], ['KD-16345', 'Katherine Ducich', 'San Francisco', 48, 9], ['ER-13855', 'Elpida Rittenbach', 'Saint Paul', 49, 10], ['RB-19465', 'Rick Bensley', 'Chicago', 50, 12]]

In [51]:
c.execute("DELETE FROM CATEGORY")
for index, i in enumerate(Category): 
    c.execute("INSERT INTO CATEGORY VALUES(" + str(index+1) + ", '" + str(i) + "')")
    
c.execute("DELETE FROM PRODUCT")
for index, i in enumerate(Product): 
    c.execute("INSERT INTO PRODUCT VALUES(" + str(index+1) + ", '" + str(i[0]) + "','" + str(i[1]).replace("'","") + "')")
    
c.execute("DELETE FROM CUSTOMER")
for index, i in enumerate(Customer): 
    c.execute("INSERT INTO CUSTOMER VALUES(" + str(index+1) + ", '" + str(i[0]) + "','" + str(i[1]).replace("'","") + "')")

c.execute("DELETE FROM TRANSAKSI")
for index, i in enumerate(Transaksi):
    id_customer = i[3]
    id_product = i[4]
    c.execute("INSERT INTO TRANSAKSI VALUES(" + str(index+1) + ", '" + str(i[0]) + "', '" + str(i[1]).replace("'","") + "', '" + str(i[2]) + "', " + str(id_customer) + ", " + str(id_product) + ")")


conn.commit()

In [53]:
c.execute('''SELECT * FROM CATEGORY''')

CATEGORY = []
for row in c.fetchall():
    CATEGORY.append(row)
print("========================CATEGORY================================")
print(CATEGORY)
print("============================================================")

c.execute('''SELECT * FROM PRODUCT''')

PRODUCT = []
for row in c.fetchall():
    PRODUCT.append(row)
print("========================PRODUCT================================")
print(PRODUCT)
print("============================================================")

c.execute('''SELECT * FROM CUSTOMER''')

CUSTOMER = []
for row in c.fetchall():
    CUSTOMER.append(row)
print("========================CUSTOMER================================")
print(CUSTOMER)
print("============================================================")

TRANSAKSI = []
c.execute('''SELECT * FROM TRANSAKSI''')
for row in c.fetchall():
    TRANSAKSI.append(row)
print("========================TRANSAKSI================================")
print(TRANSAKSI)
print("============================================================")

========================CATEGORY================================
[(1, 'Furniture'), (2, 'Office Supplies'), (3, 'Technology')]
============================================================
========================PRODUCT================================
[(1, 'South', 'Bookcases'), (2, 'South', 'Chairs'), (3, 'West', 'Labels'), (4, 'South', 'Tables'), (5, 'South', 'Storage'), (6, 'West', 'Furnishings'), (7, 'West', 'Art'), (8, 'West', 'Phones'), (9, 'West', 'Binders'), (10, 'West', 'Appliances'), (11, 'West', 'Tables'), (12, 'South', 'Paper'), (13, 'Central', 'Appliances'), (14, 'Central', 'Binders'), (15, 'Central', 'Storage'), (16, 'West', 'Storage'), (17, 'Central', 'Art'), (18, 'East', 'Chairs'), (19, 'West', 'Accessories'), (20, 'East', 'Bookcases'), (21, 'East', 'Binders'), (22, 'East', 'Furnishings'), (23, 'East', 'Envelopes'), (24, 'East', 'Art'), (25, 'Central', 'Paper'), (26, 'Central', 'Phones'), (27, 'Central', 'Furnishings'), (28, 'Central', 'Envelopes'), (29, 'Central', 'Bookcases'), (30, 'Central', 'Chairs'), (31, 'Central', 'Accessories'), (32, 'East', 'Accessories'), (33, 'East', 'Phones'), (34, 'Central', 'Labels'), (35, 'East', 'Fasteners'), (36, 'East', 'Storage'), (37, 'East', 'Paper'), (38, 'West', 'Paper'), (39, 'South', 'Furnishings'), (40, 'South', 'Appliances'), (41, 'South', 'Binders'), (42, 'South', 'Envelopes')]
============================================================
========================CUSTOMER================================
[(1, 'CG-12520', 'Claire Gute'), (2, 'DV-13045', 'Darrin Van Huff'), (3, 'SO-20335', 'Sean ODonnell'), (4, 'BH-11710', 'Brosina Hoffman'), (5, 'AA-10480', 'Andrew Allen'), (6, 'IM-15070', 'Irene Maddox'), (7, 'HP-14815', 'Harold Pawlan'), (8, 'PK-19075', 'Pete Kriz'), (9, 'AG-10270', 'Alejandro Grove'), (10, 'ZD-21925', 'Zuschuss Donatelli'), (11, 'KB-16585', 'Ken Black'), (12, 'SF-20065', 'Sandra Flanagan'), (13, 'EB-13870', 'Emily Burns'), (14, 'EH-13945', 'Eric Hoffmann'), (15, 'TB-21520', 'Tracy Blumstein'), (16, 'MA-17560', 'Matt Abelman'), (17, 'GH-14485', 'Gene Hale'), (18, 'SN-20710', 'Steve Nguyen'), (19, 'LC-16930', 'Linda Cazamias'), (20, 'RA-19885', 'Ruben Ausman'), (21, 'ES-14080', 'Erin Smith'), (22, 'ON-18715', 'Odella Nelson'), (23, 'PO-18865', 'Patrick ODonnell'), (24, 'LH-16900', 'Lena Hernandez'), (25, 'DP-13000', 'Darren Powers'), (26, 'JM-15265', 'Janet Molinari'), (27, 'TB-21055', 'Ted Butterfield'), (28, 'KM-16720', 'Kunst Miller'), (29, 'PS-18970', 'Paul Stevenson'), (30, 'BS-11590', 'Brendan Sweed'), (31, 'KD-16270', 'Karen Daniels'), (32, 'HM-14980', 'Henry MacAllister'), (33, 'TB-21520', 'Tracy Blumstein'), (34, 'JE-15745', 'Joel Eaton'), (35, 'KB-16600', 'Ken Brennan'), (36, 'JE-15745', 'Joel Eaton'), (37, 'SC-20770', 'Stewart Carmichael'), (38, 'DN-13690', 'Duane Noonan'), (39, 'JC-16105', 'Julie Creighton'), (40, 'CS-12400', 'Christopher Schild'), (41, 'PO-18865', 'Patrick ODonnell'), (42, 'PG-18895', 'Paul Gonzalez'), (43, 'GM-14455', 'Gary Mitchum'), (44, 'JS-15685', 'Jim Sink'), (45, 'KB-16315', 'Karl Braun'), (46, 'RB-19705', 'Roger Barcio'), (47, 'PN-18775', 'Parhena Norris'), (48, 'KD-16345', 'Katherine Ducich'), (49, 'ER-13855', 'Elpida Rittenbach'), (50, 'RB-19465', 'Rick Bensley')]
============================================================
========================TRANSAKSI================================
[(1, 'CG-12520', 'Claire Gute', 'Henderson', 1, 1), (2, 'CG-12520', 'Claire Gute', 'Henderson', 1, 2), (3, 'DV-13045', 'Darrin Van Huff', 'Los Angeles', 2, 3), (4, 'SO-20335', 'Sean ODonnell', 'Fort Lauderdale', 3, 4), (5, 'SO-20335', 'Sean ODonnell', 'Fort Lauderdale', 3, 5), (6, 'BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 6), (7, 'BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 7), (8, 'BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 8), (9, 'BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 9), (10, 'BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 10), (11, 'BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 4), (12, 'BH-11710', 'Brosina Hoffman', 'Los Angeles', 4, 8), (13, 'AA-10480', 'Andrew Allen', 'Concord', 5, 12), (14, 'IM-15070', 'Irene Maddox', 'Seattle', 6, 9), (15, 'HP-14815', 'Harold Pawlan', 'Fort Worth', 7, 10), (16, 'HP-14815', 'Harold Pawlan', 'Fort Worth', 7, 9), (17, 'PK-19075', 'Pete Kriz', 'Madison', 8, 5), (18, 'AG-10270', 'Alejandro Grove', 'West Jordan', 9, 5), (19, 'ZD-21925', 'Zuschuss Donatelli', 'San Francisco', 10, 7), (20, 'ZD-21925', 'Zuschuss Donatelli', 'San Francisco', 10, 8), (21, 'ZD-21925', 'Zuschuss Donatelli', 'San Francisco', 10, 9), (22, 'KB-16585', 'Ken Black', 'Fremont', 11, 7), (23, 'KB-16585', 'Ken Black', 'Fremont', 11, 10), (24, 'SF-20065', 'Sandra Flanagan', 'Philadelphia', 12, 2), (25, 'EB-13870', 'Emily Burns', 'Orem', 13, 4), (26, 'EH-13945', 'Eric Hoffmann', 'Los Angeles', 14, 9), (27, 'EH-13945', 'Eric Hoffmann', 'Los Angeles', 14, 19), (28, 'TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 1), (29, 'TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 9), (30, 'TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 6), (31, 'TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 23), (32, 'TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 7), (33, 'TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 9), (34, 'TB-21520', 'Tracy Blumstein', 'Philadelphia', 15, 7), (35, 'MA-17560', 'Matt Abelman', 'Houston', 16, 12), (36, 'GH-14485', 'Gene Hale', 'Richardson', 17, 8), (37, 'GH-14485', 'Gene Hale', 'Richardson', 17, 6), (38, 'SN-20710', 'Steve Nguyen', 'Houston', 18, 23), (39, 'SN-20710', 'Steve Nguyen', 'Houston', 18, 1), (40, 'SN-20710', 'Steve Nguyen', 'Houston', 18, 2), (41, 'SN-20710', 'Steve Nguyen', 'Houston', 18, 8), (42, 'LC-16930', 'Linda Cazamias', 'Naperville', 19, 8), (43, 'RA-19885', 'Ruben Ausman', 'Los Angeles', 20, 5), (44, 'ES-14080', 'Erin Smith', 'Melbourne', 21, 5), (45, 'ON-18715', 'Odella Nelson', 'Eagan', 22, 19), (46, 'ON-18715', 'Odella Nelson', 'Eagan', 22, 9), (47, 'PO-18865', 'Patrick ODonnell', 'Westland', 23, 5), (48, 'LH-16900', 'Lena Hernandez', 'Dover', 24, 19), (49, 'LH-16900', 'Lena Hernandez', 'Dover', 24, 8), (50, 'DP-13000', 'Darren Powers', 'New Albany', 25, 9), (51, 'DP-13000', 'Darren Powers', 'New Albany', 25, 3), (52, 'DP-13000', 'Darren Powers', 'New Albany', 25, 6), (53, 'DP-13000', 'Darren Powers', 'New Albany', 25, 2), (54, 'JM-15265', 'Janet Molinari', 'New York City', 26, 35), (55, 'JM-15265', 'Janet Molinari', 'New York City', 26, 8), (56, 'TB-21055', 'Ted Butterfield', 'Troy', 27, 5), (57, 'TB-21055', 'Ted Butterfield', 'Troy', 27, 12), (58, 'TB-21055', 'Ted Butterfield', 'Troy', 27, 2), (59, 'TB-21055', 'Ted Butterfield', 'Troy', 27, 12), (60, 'TB-21055', 'Ted Butterfield', 'Troy', 27, 19), (61, 'TB-21055', 'Ted Butterfield', 'Troy', 27, 9), (62, 'TB-21055', 'Ted Butterfield', 'Troy', 27, 7), (63, 'KM-16720', 'Kunst Miller', 'Los Angeles', 28, 19), (64, 'KM-16720', 'Kunst Miller', 'Los Angeles', 28, 9), (65, 'KM-16720', 'Kunst Miller', 'Los Angeles', 28, 12), (66, 'KM-16720', 'Kunst Miller', 'Los Angeles', 28, 6), (67, 'PS-18970', 'Paul Stevenson', 'Chicago', 29, 2), (68, 'BS-11590', 'Brendan Sweed', 'Gilbert', 30, 7), (69, 'BS-11590', 'Brendan Sweed', 'Gilbert', 30, 8), (70, 'KD-16270', 'Karen Daniels', 'Springfield', 31, 12), (71, 'HM-14980', 'Henry MacAllister', 'New York City', 32, 9), (72, 'TB-21520', 'Tracy Blumstein', 'Jackson', 15, 12), (73, 'JE-15745', 'Joel Eaton', 'Memphis', 34, 2), (74, 'JE-15745', 'Joel Eaton', 'Memphis', 34, 6), (75, 'JE-15745', 'Joel Eaton', 'Memphis', 34, 5), (76, 'KB-16600', 'Ken Brennan', 'Houston', 35, 9), (77, 'KB-16600', 'Ken Brennan', 'Houston', 35, 6), (78, 'KB-16600', 'Ken Brennan', 'Houston', 35, 5), (79, 'JE-15745', 'Joel Eaton', 'Houston', 34, 6), (80, 'SC-20770', 'Stewart Carmichael', 'Decatur', 37, 10), (81, 'SC-20770', 'Stewart Carmichael', 'Decatur', 37, 9), (82, 'DN-13690', 'Duane Noonan', 'San Francisco', 38, 7), (83, 'DN-13690', 'Duane Noonan', 'San Francisco', 38, 5), (84, 'JC-16105', 'Julie Creighton', 'Durham', 39, 23), (85, 'CS-12400', 'Christopher Schild', 'Chicago', 40, 5), (86, 'PO-18865', 'Patrick ODonnell', 'Columbia', 23, 2), (87, 'PG-18895', 'Paul Gonzalez', 'Rochester', 42, 19), (88, 'PG-18895', 'Paul Gonzalez', 'Rochester', 42, 3), (89, 'GM-14455', 'Gary Mitchum', 'Houston', 43, 5), (90, 'JS-15685', 'Jim Sink', 'Los Angeles', 44, 7), (91, 'JS-15685', 'Jim Sink', 'Los Angeles', 44, 8), (92, 'JS-15685', 'Jim Sink', 'Los Angeles', 44, 12), (93, 'KB-16315', 'Karl Braun', 'Minneapolis', 45, 12), (94, 'KB-16315', 'Karl Braun', 'Minneapolis', 45, 6), (95, 'KB-16315', 'Karl Braun', 'Minneapolis', 45, 9), (96, 'RB-19705', 'Roger Barcio', 'Portland', 46, 9), (97, 'PN-18775', 'Parhena Norris', 'New York City', 47, 6), (98, 'KD-16345', 'Katherine Ducich', 'San Francisco', 48, 9), (99, 'ER-13855', 'Elpida Rittenbach', 'Saint Paul', 49, 10), (100, 'RB-19465', 'Rick Bensley', 'Chicago', 50, 12)]
============================================================